.catalog {
    max-width: 1366px;
    margin: 0 auto;
}

.head {
    margin: 50px 0;
    display: grid;
    gap: 25px;
}

.cards {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.sales {
    width: 1020px;
    margin-left: 0;
}

li {
    display: block;
    cursor: pointer;
}

.active {
    color: red;
}

.wrap {
    display: flex;

    justify-content: space-between
}

.title {
    display: flex;
    justify-content: space-between;
}

.sort {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 15px;

}

.sort select {
    border: none;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: var(--gray-dark);

}

.flex {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;

}

.li {
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    color: var(--gray-dark);
    transition: all 0.3s;
}

.prev,
.next {
    color: var(--yellow);
    margin: 0 35px;
}

.activeLi {
    background-color: rgba(254, 202, 110, 0.3);

}