.h1 {
	font-weight: 500;
	font-size: 70px;
	line-height: 110%;
	color: var(--black);
}

.h2 {
	margin: 0;
	font-weight: 500;
	font-size: 40px;
	line-height: 120%;
	text-transform: uppercase;
	color: var(--black);

}

.h2 span {
	color: var(--yellow);
}

.h3 {
	margin: 0;
	font-weight: 800;
	font-size: 30px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--white);
}