.h1 {
	font-weight: 500;
	font-size: 70px;
	line-height: 110%;
	color: var(--black);
}

.h2 {
	margin: 0;
	font-weight: 500;
	font-size: 40px;
	line-height: 120%;
	text-transform: uppercase;
	color: var(--black);

}

.h2 span {
	color: var(--yellow);
}

.h3 {
	margin: 0;
	font-weight: 800;
	font-size: 30px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--white);
}

@media (max-width: 768px) {
	.h1 {
		font-size: 60px;
	}

	.h2 {
		font-size: 35px;

	}

	.h3 {
		font-size: 24px;
	}
}

@media (max-width: 425px) {
	.h1 {
		font-size: 40px;
	}

	.h2 {
		font-size: 30px;

	}

	.h3 {
		font-size: 18px;
	}
}