.cart {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
}

.nav {
    margin-bottom: 30px;
}

.card {
    display: flex;
    max-height: 500px;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

.img {
    max-height: 280px;
    display: block;
    width: auto;
    margin: 0 auto;
}

.imgWrap {
    width: 25%;
}

.descrWrap {
    flex-basis: 35%;
}

.count {
    display: flex;
    gap: 60px;
    align-items: center;
}

.val {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #3F4E65;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #111111;
    margin: 10px 0;
}

.descr {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #3F4E65;
}

.total {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.popup {
    display: none;
}

.popupBlock {
    width: 450px;
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    display: block;
    position: fixed;
    top: 50%;
    background-color: white;
    z-index: 10;
    border: 1px solid black;
    left: calc(50vw - (450px / 2));
}

@media (max-width: 1024px) {
    .cart {
        max-width: 95vw;
        padding-bottom: 80px;
    }

    .card {
        max-height: 450px;
        padding: 40px 0;
        gap: 30px;
    }

    .title {
        font-size: 24px;
    }

    .count {
        gap: 18px;
    }

    .img {
        max-height: 20vw;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 16px;
        line-height: 20px;
    }

    .cart {
        padding-bottom: 50px;
    }

    .card {
        max-height: 450px;
        padding: 40px 0;
        gap: 10px;
        flex-wrap: wrap;
    }

    .descr {
        font-size: 10px;
    }

    .count {
        gap: 10px;
    }

}

@media (max-width: 425px) {
    .title {
        font-size: 12px;
        line-height: 20px;
    }


    .card {
        flex-wrap: wrap;
    }

    .descr {
        font-size: 10px;
    }
}