.button {
    background: var(--yellow-light);
    border-radius: 80px;
    color: var(--white);
    border: none;
    font-weight: 700;
    transition: all 0.3s;
}

.button:hover {
    background: var(--yellow);
}

.xs {
    height: 39px;
    width: 39px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    padding: 0 14px;
}

.s {
    height: 45px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    padding: 0 25px;

}

.m {
    height: 59px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 50px;

}

.l {
    height: 95px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15em;
    padding: 0 80px;

}

@media (max-width: 1024px) {

    .xs {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }

    .s {
        height: 40px;
    }

    .m {
        height: 50px;
        font-size: 12px;
        padding: 0 30px;
    }

    .l {
        height: 75px;
        font-size: 16px;
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .xs {
        font-size: 12px;
    }

    .s {
        height: 35px;
    }

    .m {
        height: 40px;
        font-size: 12px;
        padding: 0 20px;
    }

    .l {
        height: 50px;
        font-size: 16px;
        padding: 0 40px;
    }
}