.footer {
    background-color: var(--gray-dark);
    padding: 71px 0;
}

.wrap {
    max-width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    color: white;
    font-size: 14px;
    line-height: 150%;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
}

.category {
    display: grid;
    gap: 15px;
}

.descr {
    font-size: 16px;
    line-height: 150%;
}

.input {
    position: relative;
    margin-top: 20px;
}

.input button {
    position: absolute;
    top: 36px;
    right: 11px;
}

.input input {
    padding: 13px 10px 13px 20px;
    border: none;
    border-radius: 36px;
    font-weight: 400;
    font-size: 12px;
    width: 263px;
    height: 59px;
    margin-top: 5px;
}

.social {
    display: flex;
    gap: 5px;
}

.cards {
    display: flex;
}

@media (max-width: 1024px) {
    .wrap {
        max-width: 95vw;
        gap: 16px;
    }

    .title {
        font-size: 16px;
    }

    .category {
        font-size: 12px;
        gap: 10px;
    }

    .descr {
        font-size: 14px;
    }

    .input input {
        font-size: 12px;
        line-height: 150%;
        width: 180px;
        height: 50px;
        padding: 10px;

        margin-top: 5px;
    }

    .input button {
        position: absolute;
        top: 36px;
        right: 11px;
    }
}

@media (max-width: 768px) {
    .wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 95vw;
        gap: 50px;
    }

    .title {
        font-size: 16px;
    }

    .category {
        font-size: 12px;
        gap: 10px;
    }

    .descr {
        max-width: 250px;
        font-size: 14px;
    }

    .input {

        width: 180px;

    }

    .input input {
        font-size: 12px;
        line-height: 150%;
        width: 180px;
        height: 50px;
        padding: 10px;

        margin-top: 5px;
    }

    .input button {
        position: absolute;
        top: 36px;
        right: 11px;
    }
}